<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.shawn.learningalways.example.dao.ExampleDao">
	
	<!-- 查询example列表 -->
	<select id="getExampleList" resultType="com.shawn.learningalways.example.model.Example">
		 select * from t_shawn_example t
         where t.deltag = '0'
	</select>

	<!-- 根据条件查询example列表 -->
	<select id="getExampleListByCondition" parameterType="com.shawn.learningalways.example.model.Example"
			resultType="com.shawn.learningalways.example.model.Example">
		select * from t_shawn_example t
		where t.deltag = '0'
		<if test="id != null and id != ''">
			and id = #{id}
		</if>
		<if test="name != null and name != ''">
			and name = #{name}
		</if>
		<if test="age != null and age != ''">
			and age = #{age}
		</if>
		order by createtime desc
	</select>

	<!-- 获取满足条件的example数量 -->
	<select id="getExampleCountByCondition" parameterType="com.shawn.learningalways.example.model.Example"
			resultType="java.lang.Integer">
		select count(*) from t_shawn_example t
		where t.deltag = '0'
		<if test="id != null and id != ''">
			and id = #{id}
		</if>
		<if test="name != null and name != ''">
			and name = #{name}
		</if>
		<if test="age != null and age != ''">
			and age = #{age}
		</if>
	</select>



</mapper>