<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.shawn.learningalways.example.dao.ExampleDao">
	
	<!-- 查询example列表 -->
	<select id="getExampleList" resultType="com.shawn.learningalways.example.model.Example">
		 select * from t_shawn_example t
         where t.deltag = '0'
	</select>

</mapper>